.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;

  &__content {
    background: $white;
    padding: 30px 30px 40px;
    width: 400px;
    border-radius: 10px;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: $color-primary;
  }

  &__form {
    label {
      display: block;
      margin: 10px 0 5px;
    }

    p {
      color: $color-primary;
    }

    input:not([type="checkbox"]) {
      width: 100%;
      padding: 12px;
      border: 2px solid $color-primary;
      box-sizing: border-box;
    }

    .password-field {
      position: relative;

      .password-toggle {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  &__btn {
    @extend .button;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
  }
}
