@import "../abstracts/variables";

.footer {
  padding: 60px 100px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
  }

  &__left {
    gap: 60px;
    flex: 1 1 65%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__block {
    flex: 1 1 150px;
    min-width: 180px;

    &--shipping {
      flex-basis: 100%;
      margin-top: 20px;
    }

    &--contact {
      flex: 1 1 30%;
      max-width: 360px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
      font-size: 15px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    max-width: 700px;
  }

  &__contacts {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      font-size: 14px;

      img {
        width: 18px;
        height: 18px;
        margin-top: 3px;
      }

      span {
        display: inline-block;
      }

      .footer__contact-hours {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
    }
  }
  &__bottom {
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
  }
}
