html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

.about {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;
  overflow: hidden;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
  }

  &__title {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
    z-index: 1;
  }

  &__text {
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    z-index: 1;
  }
}

.advantages {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  padding: 80px 100px;
  text-align: center;

  &__item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 70px;
    height: 70px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: $color-text-dark;
  }

  @media (max-width: $breakpoint-lg) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }

  @media (max-width: $breakpoint-md) {
    padding: 60px 40px;
    align-items: center;

    &__item {
      max-width: 300px;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }
}

.arrivals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 150px;
  gap: 60px;

  &__content {
    flex: 1;
  }

  &__title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    line-height: 1.2;
  }

  &__text {
    font-size: 16px;
    color: $black;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  &__btn {
    @extend .button;
    font-weight: 700;
    padding: 16px 40px;
    font-size: 16px;
  }

  &__img {
    width: 100%;
    max-width: 600px;
  }

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;

    &__title {
      font-size: 32px;
    }
  }
}

.team {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;

  &__member {
    flex: 1 1 300px;
    max-width: 340px;
    padding: 50px;

    @media (max-width: $breakpoint-md) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  img {
    width: 100%;
    height: 360px;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      height: 320px;
      width: 270px;
    }
  }

  &__name {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &__position {
    font-size: 16px;

    margin-bottom: 32px;
  }

  @media (max-width: 768px) {
    gap: 40px;
    padding: 32px 16px;
  }
}

.month-offer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  @media (max-width: $breakpoint-md) {
    margin-bottom: 60px;
    padding: 0;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: $white;
    padding: 80px 20px;
    @media (max-width: $breakpoint-md) {
      padding: 40px 16px;
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.45);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      gap: 30px;
      text-align: center;
    }
  }

  &__percent {
    font-weight: 900;
    font-size: 150px;
    margin: 75px 40px;
    letter-spacing: 0%;
    line-height: 1;

    @media (max-width: $breakpoint-lg) {
      font-size: 120px;
      margin: 40px;
    }

    @media (max-width: $breakpoint-md) {
      font-size: 80px;
      margin: 0 0 16px;
    }
  }

  &__discount {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    max-width: 400px;

    @media (max-width: $breakpoint-md) {
      font-size: 14px;
      max-width: 250px;
    }
  }

  &__details {
    max-width: 400px;

    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-md) {
      font-size: 24px;
    }
  }

  &__description {
    margin-bottom: 20px;
    line-height: 1.5;

    @media (max-width: $breakpoint-md) {
      font-size: 14px;
      max-width: 200px;
    }
  }

  &__button {
    @extend .button;
    font-weight: 700;
  }
}
