.cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 60px;

  &__hero {
    width: 100%;
    height: 260px;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0, 0.3);
      z-index: 1;
    }

    &-img {
      position: absolute;
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-weight: 700;
    color: $white;
  }

  &-table {
    margin-bottom: 50px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      background: $color-text-dark;
      padding: 18px 20px;
      color: $white;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.5px;

      .col {
        flex: 1;

        &.col-img {
          flex: 0 0 120px;
        }

        &.col-actions {
          flex: 0 0 60px;
          text-align: center;
        }
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 20px;
    border-bottom: 2px solid $color-primary;

    &__img {
      width: 90px;
    }

    &__name {
      font-size: 16px;
      font-weight: 700;
      color: $black;
      max-width: 100px;
    }

    &__price {
      font-size: 16px;
      font-weight: 700;
    }

    &__quantity {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
    }

    &__quantity-btn {
      width: 32px;
      height: 32px;
      border: none;
      background-color: $white;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__quantity-value {
      min-width: 28px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }

    &__total {
      font-size: 16px;
      font-weight: 700;
      flex-shrink: 0;
    }

    &__delete-btn {
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;
      transition: 0.2s;
    }
  }

  &-actions {
    gap: 20px;
    margin: 40px 0 50px;

    &__btn {
      @extend .button;
      padding: 20px 30px;
      font-size: 13px;
      font-weight: 700;
      max-width: 200px;
      margin-bottom: 15px;
    }
    @media (max-width: $breakpoint-md) {
      display: flex;
      justify-content: center;
    }
  }

  &-summary {
    width: 400px;
    background: $color-text-dark;
    padding: 35px;
    color: $white;

    &__row {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      font-size: 17px;
      border-bottom: 2px solid $color-primary;

      &--total {
        font-size: 20px;
        font-weight: 700;
        padding-top: 20px;
      }
    }

    &__checkout-btn {
      @extend .button;
      margin-top: 30px;
      width: 100%;
      max-width: 230px;
      padding: 16px 0;
      font-size: 15px;
      font-weight: 700;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }
}

.empty-cart {
  text-align: center;
  padding: 80px 20px;
  background: $white;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    color: $color-text-light;
  }
}

@media (max-width: $breakpoint-lg) {
  .cart {
    &-summary {
      width: 100%;
      margin-left: -40px;
      margin-top: 30px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .cart {
    &__title {
      font-size: 32px;
    }

    &-table {
      &__header {
        display: none;
      }
    }

    &-item {
      flex-direction: column;
      align-items: center;
      gap: 15px;

      &__info {
        width: 100%;
      }

      &__quantity,
      &__price,
      &__total {
        font-size: 15px;
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
