$color-primary: #b92770;
$color-text-dark: #504e4a;
$color-text-light: #777;
$color-border-grey: #e9e9ed;
$color-star-filled: #f5a623;
$white: #fff;
$black: #000;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
